<a href="https://colab.research.google.com/github/Aaliyahraymond/Aaliyah/blob/main/Copy_of_programming_assignment_2_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.1 On PAGE 31 of the Python Textbook
Fruits are acknowlege by their count, meaning how many times it is listed in the code using Fuits.count

In [ ]:
>>> fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('apple')

2

In [ ]:
>>> fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('tangerine')

0

 Fruits are acknowlege by their place order within the code using Fuits.index

In [ ]:
>>> fruits= ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.index('banana')

3

In [ ]:
>>> fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.index('banana', 4) # Find next banana starting at postiton 4

6

The fruit list is put in reverse order using Fruits.reverse

In [ ]:
>>> fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.reverse()
>>> fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

The fruit list is appended to include the word grape using grape using Fuits.

The fruit list is appended to include the word grape using Fuits.append

In [ ]:
>>> fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.append('grape')
>>> fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

Here the fruit list is sorted using fruits.sort

In [ ]:
>>> fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.sort()
>>> fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

In [ ]:
>>> fruits=['orange', 'apple', 'grape', 'banana', 'kiwi', 'apple', 'banana', 'pear']
>>> fruits.pop()

'pear'

***5.1.1 ON PAGE 32 Using Lists as Stacks**
 I am adding the numbers 6 & 7 using stack.append

In [ ]:
>>> stack = [3, 4, 5]
>>> stack.append(6)
>>> stack.append(7)
>>> stack

[3, 4, 5, 6, 7]

Here the number is removed and returned becuase no specific number was input into parentheses

In [ ]:
>>> stack =[3, 4, 5, 6, 7]
>>> stack.pop()

7

In [ ]:
>>> stack =[3, 4, 5, 6,]
>>> stack.pop()

6

In [ ]:
>>> stack =[3, 4, 5,]
>>> stack.pop()

5

In [ ]:
>>> stack =[3, 4]
>>> stack.pop()

4

***5.1.2 ON PAGE 33 Using Lists as Queues**
The order of arrival and depature is determined by queue.popleft& the added names to the deque are generated using queue.append

In [ ]:
>>> from collections import deque
>>> queue = deque(['Eric", "John", "Michael"'])
>>> queue.append("Terry")           # Terry arrives
>>> queue.append("Graham")          # Graham arrives
>>> queue.popleft()                 # The first to arrive now leaves

'Eric", "John", "Michael"'

In [ ]:
>>> queue.popleft()

'Terry'

In [ ]:
>>> queue

deque(['Graham'])

**5.1.3 ON PAGE 33 Using Lists Comprehensions**

This is a concise way to create lists

In [ ]:
>>> squares = []
>>> for x  in range(10):
...     squares.append(x**2)
...
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

This overwrites a variable named x that still exits after the loop completes & calculates the list of squares without any side effects using

In [ ]:
squares = list (map(lambda x: x**2, range(10)))

In [ ]:
squares = [x**2 for x in range (10)]

In [ ]:
>>> [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]